nav {
    background-color: #3498db;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    font-size: 18px;
}

nav a:hover {
    color: #dcdcdc;
}